#root {
  min-height: 100vh;
  width: 100vw;
  background-color: #202124; 
  display: flex; 
  align-items: center;
  flex-direction: column; 
  padding: 1rem;
  box-sizing: border-box;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202124;
  width: 100%;
  max-width: auto;
  min-height: 100vh;
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}


.header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #202124;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index: 1000;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 0;
}

.header__item {
  font-size: 1.1rem;
  color: #fff;
  background-color: #3a3a3c;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  flex-shrink: 0;
}

.header__item:hover {
  background-color: #538d4e;
  cursor: pointer;
}

h2 {
  margin: 1rem;
  font-size: 2rem;
}

h3 {
  margin: 0.3rem;
  font-size: 1rem;
}

.guess-form {
  display: flex;
  gap: 0rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

button {
  height: 2.7rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
}

.correct {
  background-color: #538d4e;
  color: white;
}

.misplaced {
  background-color: #b59f3b;
  color: white;
}

.incorrect {
  background-color: #3a3a3c;
  color: white;
}

.save-prompt {
  margin: 1rem;
  display: flex;
  gap: 1rem; 
  justify-content: center; 
  flex-direction: column;
}

button.No-save_button {
  background: rgb(167, 27, 27);
}

button.No-save_button:hover {
  background: rgb(129, 22, 22)
}

@media (max-width: 600px) {
  .header {
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.5rem;
  }

  .header__item {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }

  .guess-form {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 100%;
  }

  h2 {
    margin-top: 0rem;
    font-size: 1rem;
  }

}