.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }
  
  .keyboard-row {
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  
  .keyboard-key {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
    font-size: 18px;
    width: 40px;
    height: 40px;
    opacity: 0.7;
    pointer-events: none;
  }
